<footer>
    <div class="container">
        <div class="flex">
            <a href="about.html">{{ site.data.i18n[page.locale].footer.about }}</a>
            <div class="founded">
                <p>{{ site.data.i18n[page.locale].footer.funded_by }}</p>
                <a href="{{ site.data.i18n[page.locale].footer.funder.url }}">
                    <img src="{{ site.data.i18n[page.locale].footer.funder.logo }}" alt="{{ site.data.i18n[page.locale].footer.funder.name }}" />
                </a>
            </div>
        </div>
    </div>
</footer>