<header>
    <div class="container">
        <a class="logo-wrapper" href="index.html">
            <img src="/Content/icons/logo.svg" alt="Logo" />
        </a>
        <h4 class="slogan">{{ site.data.i18n[page.locale].gap.tagline }}</h4>
        <div class="stats-wrapper">
            <h2>{{ site.data.i18n[page.locale].gap.country }}</h2>
            <div class="stats">
                <span>{{ site.data.i18n[page.locale].gap.rank }}</span>
                <span>{{ site.data.i18n[page.locale].gap.total }}</span>
            </div>
        </div>
    </div>
</header>